<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="riswan.fkti.pipa">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pipa"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <service
            android:name=".firebase.FirebaseMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.auth.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profil.ProfilAcitivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profil.UpdateProfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profil.EditProfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profil.EditPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profil.FotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.berita.IndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BeritaDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aduan.IndexPengaduanAcitivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.aduan.AddPengaduan"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.aduan.PostPengaduanActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.kategori.IndexKategoriActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.offline.OfflineClass" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/main" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="riswan.fkti.pipa" />
    </application>

</manifest>